/* http://dev.paik.ac.kr/guide/guide/index.html */




/* 네이밍 규칙
네이밍의 조합은 '형태_의미_(순서)_상태'을 기본 순서로 사용한다 : btn_cancle_01_off.gif
언더스코어(_) 조합 : 파일, 폴더, 이미지에 사용한다.
HTML 문서 안에서 언더스코어(_)의 조합은 form, input 엘리먼트등의 name 어트리뷰트의 값을 사용하는 것을 권장한다. 
하이픈(-) 조합 : CSS 네이밍에 사용하는 것을 권장한다.
파일 및 폴더의 경우 1, 2과 같은 한자리 정수는 사용하지 않으며 01, 02과 같이 사용하며 사용을 권장한다.
대부분의 파일관리 유틸리티 프로그램들을 사용하여 파일의 이름으로 정렬할 때에 정렬의 순서를 보장
동일한 이름의 css 네이밍의 경우 가장 뒤에 숫자를 사용하여 분류지어 사용할 수 있으며(한자리정수), 첫번째 파일은 숫자를 생략하여 사용할 수 있다. */

/* 아이디(id)
카멜 케이스 사용 
지정된 레이아웃 및 폼객체를 제외한 스타일 지정을 위하여 id를 사용하지 않는다.
앵커로서 사용되는 엘리먼트는 id 지정이 가능하다. */

/* 클래스(class)
네이밍은 - (하이폰) 사용을 기본으로 한다.
하이픈(-)을 이용하여 3단계를 초과하여 사용하는 방법은 지양한다. */

/* 이미지 네이밍 규칙
이미지 네이밍의 조합은 '형태_의미_순서_상태'의 순서로 조합한다.
같은 이름의 이미지가 두 개 이상 존재하면 숫자로 구분한다.
이미지 네이밍은 이미지의 확장자에 관계 없이 순차적으로 적용한다. 예) btn_confirm.gif, btn_confirm_02.jpg, btn_confirm_03.png */

/* 구조, 표현, 동작의 분리
<input type="text" id="formMyClass" class="my-class" style="width:80%;" />
특정 엘리먼트에 id, class, style을 선언할 때에 선언 순서는 엘리먼트의 기본 애트리뷰트 지정후 마지막에 id, class와 style을 선언한다.
 */

/* A 엘리먼트
 <a href="#none" title="새창" target="_blank">인쇄하기</a>
 href 애트리뷰트의 값은 #none로 한다. 앵커 기능이 있다면 해당 엘리먼트의 id값을 작성한다.
 링크의 목표가 명확하지 않은 경우 title 애트리뷰트의 값으로 부가적인 설명을 제공한다. */

/* CSS 코드 작성 규칙 */
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------
    File   : Layout.css
    Author : Gildong, Hong 2017-07
    CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
    CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
    CSS 속성 선언순서 : display, position(top, right, bottom, left, z-index), float/clear, overflow, width/height, margin/padding(top, right, bottom, left),
    border(top, right, bottom, left), background(image,position,repeat,color), border-radius, box-shadow,
    font(font-weight, font-style, font-variant, font-size/line-height, font-family), opacity, cursor, box-sizing, etc
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* 모든 속성은 영문 소문자로만 작성 */

/* 주석 / 빈줄
CSS 주석 처리는 시작 주석을 작성하며 종료 주석은 작성하지 않는다. 종료코드 이후에 오는 요소에 한 칸 띄어 쓰기를 허용한다.
객체를 구분하기 위하여 코드 그룹 간 1줄의 빈 줄을 허용한다. 빈 줄의 1줄을 초과하지 않는다. */

/* 속성의 선언 순서
display, visibility, overflow, float, position, width, height, margin, padding, border, background, font, color, letter-spacing, text-decoration, text-align, white-space, word-spacing */

/* Background 약식 속성
background-attachment, background-color, background-image, background-repeat, background-position 이다. */

/* BEM 
https://cyberx.tistory.com/100
search_btn--active  같은 방식  */






/*-----------------------------------------------------------------------------------------------------------------------------------------------------------
    File   : Kije.css
    Author : Kije Park. 2021. 1. 29
    CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
    CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
    CSS 속성 선언순서 : display, position(top, right, bottom, left, z-index), float/clear, overflow, width/height, margin/padding(top, right, bottom, left),
    border(top, right, bottom, left), background(image,position,repeat,color), border-radius, box-shadow,
    font(font-weight, font-style, font-variant, font-size/line-height, font-family), opacity, cursor, box-sizing, etc
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*
 * Global
 * font
 * color
 
 * header
 * Summary
 * Project
 * Awards
 * Stacks
 * chart
 * Education
 * Attitude
 * Salary
 * Contact
 * footer
*/




/* Global  */
body { font-family: var(--basic-font); letter-spacing: var(--kr-ls); color: var(--basic-color); background: #e2e1e0b0; }
tr > td { font-weight: 300; font-size: 0.85em; letter-spacing: -0.05em; color: rgba(46, 47, 68, 0.911); text-transform: uppercase; }
.badge { font-weight: 300; letter-spacing: 0; padding: .27em .45em; }
.desc { font-size: 0.75em; font-weight: 300; letter-spacing: -0.03em; color: grey; text-transform: uppercase; }
.modal-body img { width: 100%; }
.modal-body p { margin: 20px; font-weight: 300; font-size: 0.9rem; letter-spacing: -0.05rem; text-transform: uppercase; text-align: left; word-spacing: 0; color: rgba(46, 47, 68, 0.861); }
/* font */
:root {
    --basic-font: 'Mukta', 'Noto Sans KR', sans-serif;
    /* var(--basic-font); */
    --kr-ls: -0.05rem;
    --en-ls: 0;
}
h2 { font-size: 2.5rem; font-weight: 800; text-transform: uppercase; letter-spacing: 0; color: #3f4165; }
section > p { font-size: 0.8rem; letter-spacing: -0.05rem; color: #3f4165a2; }
section .title-dec { font-size: 0.8rem; letter-spacing: -0.05rem; word-spacing: 0.05rem; color: #3f4165ab;  }
th { font-size: 1.05em; font-weight: 500; letter-spacing: -0.05em; color: #3f4165; }
thead > tr > th { font-size: 0.9em; font-weight: 500; letter-spacing: -0.05em; text-align: center; color: rgba(46, 47, 68, 0.911); vertical-align: middle; }
.noto100 { font-weight: 100; }
.noto500 { font-weight: 500; }
.en { letter-spacing: 0; }
.table-caption { margin-bottom: 0rem; font-size: 0.75em; font-weight: 300; letter-spacing: -0.03em; text-transform: uppercase; text-align: center; color: grey; }
/* color */
:root {
    --basic-color: #3f4165;
    --purple-color: #7A33FF;
}

/* section */

/* header */
header { background: gray; background-image: url(/img/main2.png); background-repeat: no-repeat; background-position: center top; background-size: contain; background-attachment: fixed; }
.header-title { padding-top: 16rem; padding-bottom: 16rem; padding-left: 4rem; padding-right: 4rem; color: #ffffff; }
.header-title h1 { font-size: 52px; font-weight: 400; letter-spacing: -0.05em; text-shadow: 0 1px 0 #ccc, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15); }
.navbar { position: sticky; top: 0; padding-left: 30px; padding-right: 30px; z-index: 10;}
.navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active { color: #3f416581;}
.navbar-nav { font-size: 0.9rem; font-weight: 700; letter-spacing: 0; text-transform: uppercase; }
.navbar h3 { margin: 0; width: 180px; font-size: 1.4rem; font-weight: 800; text-transform: uppercase;  }
.navbar .btn-custom { width: 84px; background-size: 200% auto;  font-size: 0.7rem; border-radius: 10px; text-transform: uppercase; letter-spacing: 1px; transition: 0.5s; background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%); color: #ffffff; }
.navbar .btn-custom:hover { background-position: right center; color: rgb(43, 31, 59); }


/* Summary */
#summary { margin-top: 50px; padding-top: 100px; }
#summary h2 { font-weight: 800; letter-spacing: 0; }
.main-copy { font-size: 1.1rem; font-weight: 100; line-height: 2rem; letter-spacing: -0.09rem; word-spacing: 0.1rem; }
.main-copy span { font-weight: 200; letter-spacing: 0; }
.main-copy span.bold { font-weight: 500; letter-spacing: 0; }
.main-copy span.bolder { font-weight: 500; letter-spacing: -0.05rem; text-transform: uppercase; }

/* Project */
#project { margin-top: 50px; padding-top: 100px; }
#project table tbody td i { font-size: 1.1rem; transition-property: font-size, color: rgba(46, 47, 68, 0.377); color; transition-duration: 0.5s; }
#project table tbody td i:hover { font-size: 2.5rem; color: #7A33FF; cursor: pointer; }
#project td div:nth-child(1) { font-size: 0.95rem; font-weight: 500; letter-spacing: -0.05rem; color: rgba(46, 47, 68, 0.861); text-transform: uppercase; }
#project td div:nth-child(2) { font-size: 0.75rem; font-weight: 300; letter-spacing: -0.05rem; color: rgba(46, 47, 68, 0.534); text-transform: uppercase; word-spacing: 0.3rem;}
#project td { padding: 17px 0; }
#project .progress-text { font-size: 0.65rem; font-weight: 500; letter-spacing: 0; color: white;  }
#project .bg-grey { letter-spacing: 0; background-color: #c1c1c1ea; }
#project .bg-grey:hover { background-color: #757575ea; }
#project .progress-desc { margin-top: 3px; font-size: 0.6rem; font-weight: 500; color: #3f4165a8; }

/* Awards */
#awards { margin-top: 50px; padding-top: 100px; }
#awards table tbody td i { font-size: 1.1rem; transition-property: font-size, color; transition-duration: 0.5s; color: rgba(46, 47, 68, 0.377);  }
#awards table tbody td i:hover { font-size: 2.5rem; color: #7A33FF; cursor: pointer;  }
#awards td div:nth-child(1)  { font-weight: 500; font-size: 0.95rem; letter-spacing: -0.05rem; text-transform: uppercase; color: rgba(46, 47, 68, 0.861);  }
#awards td div:nth-child(2) { font-weight: 300; font-size: 0.75rem; letter-spacing: -0.05rem; text-transform: uppercase; word-spacing: 0.3rem; color: rgba(46, 47, 68, 0.534); }
#awards .bg-grey { letter-spacing: 0; background-color: #c1c1c1ea; }
#awards td { padding: 17px 0;}
#awards .bg-grey:hover { background-color: #757575ea; }
#awards table td img { width: 35px; border-radius: 50%;}
#awards .modal-body img { width: 100%; border-radius: 0; }
#awards .profile { padding: 7px 0;}

/* Stacks */
#stacks { margin-top: 50px; padding-top: 100px; }
#stacks table tbody td { font-size: 0.85em; font-weight: 300; letter-spacing: -0.03em; color: rgba(46, 47, 68, 0.911); text-transform: uppercase; padding: 20px 40px; color: rgba(46, 47, 68, 0.911);  }
#stacks table tbody td img { display: inline-block; margin: 0px auto; width: 60px;  }
#stacks table tbody td i { font-size: 0.7rem; letter-spacing: -2.4px; }
#stacks table tbody tr th:nth-child(1) { padding: 0 1rem;  letter-spacing: 0; }

/* chart */
#charts .card-title { font-size: 1rem; font-weight: 800; letter-spacing: 10px; margin-top: -17px; text-align: center;  text-transform: uppercase; color: rgb(29, 116, 255); }
#charts .card-text { padding: 0 15px; margin-top: 1.5rem; margin-bottom: 10px; font-size: 0.9rem; font-weight: 300; letter-spacing: -0.05rem; }
#charts .chart-box { height: 280px; padding: 30px 40px 30px 40px; }
#charts .card-body .card-text { padding: 0 15px; margin-top: 1.5rem; margin-bottom: 10px; font-size: 0.9rem; font-weight: 300; letter-spacing: -0.05rem;  }

/* Education */
#education { margin-top: 50px; padding-top: 100px; }
#education .card-title { font-size: 1.3rem; font-weight: 500; letter-spacing: -0.05rem; }
#education .card-text { font-size: 0.9rem; font-weight: 300; color: #3f416583; }

/* Document */
#document { margin-top: 50px; padding-top: 100px; }
#document .desc { font-size: 1.1rem; font-weight: 100; line-height: 2rem; letter-spacing: -0.09rem; word-spacing: 0.1rem; color: var(--basic-color); }
.pdf-icon { padding: 0 10px; width: 80px; }


/* Owl Carousel */
.owl-carousel .item { width: 100%; height: 500px; }
.owl-carousel .item iframe { width: 100%; height: 100%; }
.owl-carousel .carousel-desc { margin-top: 1rem; font-size: 0.9rem; font-weight: 300; letter-spacing: -0.05rem;  }

/* Salary */
#salary { margin-top: 50px; padding-top: 100px; }
#salary h4 { margin-top: 1rem; font-size: 1rem; font-weight: 800; text-transform: uppercase; color: #7a33ff9a;}
#salary .card-header h4 { font-weight: 200; letter-spacing: 0; }
#salary .card-header strong { font-weight: 800; font-size: 1rem; }
#salary ul { margin-top: 0.8rem; margin-bottom: 1.2rem; font-size: 0.95rem; font-weight: 300; letter-spacing: -0.05rem; line-height: 1.6rem; }
#salary .card .card-body small { font-size: 1rem; color: rgba(46, 47, 68, 0.61); }
#salary h2 { font-size: 2.6rem;}
#salary hr { margin: 20px auto; color: #3f4165bd; width: 70%; }
#salary .price-title { margin-top: 20px;}
#salary .ribbon { overflow: hidden; position: absolute; width: 150px; height: 150px; }
#salary .ribbon::before,
#salary .ribbon::after { position: absolute; z-index: -1; content: ''; display: block; border: 5px solid #2f3e75; }
#salary .ribbon span { position: absolute; display: block; width: 225px; padding: 15px 0; background-color: #5a7dfa; box-shadow: 0 5px 10px rgba(0,0,0,.1); color: #fff; font: 700 18px/1 'Lato', sans-serif; text-shadow: 0 1px 1px rgba(0,0,0,.2); text-transform: uppercase; text-align: center; }
#salary .ribbon-bottom-right { bottom: -10px; right: -10px; }
#salary .ribbon-bottom-right::before,
#salary .ribbon-bottom-right::after { border-bottom-color: transparent; border-right-color: transparent; }
#salary .ribbon-bottom-right::before { bottom: 0; left: 0; }
#salary .ribbon-bottom-right::after { top: 0; right: 0; }
#salary .ribbon-bottom-right span { left: -25px; bottom: 30px; transform: rotate(-45deg); }
#salary .check {  color: limegreen; }
#salary .no { color: orangered; }

/* Contact */
#contact { margin-top: 50px; padding-top: 100px; }
.contact { text-transform: uppercase; }
.contact .contact-header { margin-bottom: 150px; text-align: center; }
.contact .contact-body { display: flex; flex-direction: column; align-items: center; justify-content: center; max-width: 600px; height: 320px; margin: 0 auto; border-radius: 10px; margin-bottom: 150px; background: #ffffff; }
.contact .contact-body h1 { margin-bottom: 0px; font-size: 2.5rem; font-weight: 800; letter-spacing: 1.5px; }
.contact .contact-body small { font-size: 0.7rem; font-weight: 800; letter-spacing: 3.5px; color: #3f416586 ;}
.contact .contact-body img { width: 90px; height: 90px; border-radius: 50%; border: 3px solid greenyellow; }
.contact .contact-body ul { padding-left: 4px; margin-bottom: 4px; font-weight: 300; }
.contact .contact-body ul li { font-size: 12px; letter-spacing: 0px; }
.contact .contact-body ul li strong { margin-left: 4px; }
.contact .contact-body ul li i { position: relative; top: -4px; left: -4px; }
.contact .contact-body .contact-desc { font-size: 0.65rem; font-weight: 300; letter-spacing: 0.5px;  color: #7a33ffa1 ;}
.contact .desc { font-size: 1.1rem; font-weight: 100; line-height: 2rem; letter-spacing: -0.09rem; word-spacing: 0.1rem; color: var(--basic-color); }

/* footer */
footer { margin-top: 3rem; margin-bottom: 2rem;}
footer  a { font-size: 0.6rem; text-transform: uppercase; text-decoration: none; padding: 10px; color: rgba(46, 47, 68, 0.637); }
footer .social-title { font-size: 0.75rem; font-weight: 300; letter-spacing: 0; text-transform: uppercase; text-decoration: none; padding: 10px; color: rgba(46, 47, 68, 0.637);}
footer .social-title:hover { padding: 5px 10px; font-weight: 500; border: 1px solid rgba(147, 33, 253, 0.17); border-style: solid none ; color: rgb(147, 33, 253); }
footer .license-copy { margin-top: -1px; margin-bottom: 20px; font-size: 0.6rem; font-weight: 300; letter-spacing: 0.08em; text-align: center; text-transform: uppercase; color: grey;  }
footer .fw800 { font-weight: 800; }
footer hr { width: 65%; margin: 15px auto; color: #3f416573;}
/* Responsive */
@media (max-width: 991.98px) {
    .btn-custom { display: none; }
}
/* 메인 이미지 반응형 작업  */
@media (max-width: 800px) {
    header { background: gray; background-image: url(/img/main2-mobile.png); background-repeat: no-repeat; background-position: center top; background-size: contain; background-attachment: fixed; }
}