/* Global */
body {
  letter-spacing: -0.05em;
  background: #e2e1e0b0;
  color: #3f4165;
}

.fw-normal {
  font-weight: 500 !important;
}

.btn-custom {
  width: 84px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  background-size: 200% auto;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
  transition: 0.5s;
  color: #ffffff;
}

.btn-custom:hover {
  background-position: right center;
  color: rgb(43, 31, 59); 
}

.ls-0 {
  letter-spacing: 0;
}

.ls--005 {
  letter-spacing: -0.05em;
}

.pt-27 {
  padding-top: 9rem;
}

.pb-27 {
  padding-bottom: 9rem;
}

.section-header {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0;
  font-size: 2.5rem;
}

.section-desc {
  font-size: 0.8rem;
  letter-spacing: -0.05rem;
  word-spacing: 0.05rem;
  color: #3f4165ab;
}

/* Header */ 
header {
  background: #d8d8d8;
}

header .container {
  padding: 16rem 4rem;
  color: #ffffff;
}

header .container h1 {
  letter-spacing: -0.05em;
  font-size: 52px;
  font-weight: 100;
  text-shadow: 0 1px 0 #ccc,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0;
}

.navbar .navbar-brand {
  width: 180px;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.2;
}

.navbar .navbar-nav .show > .nav-link,
.navbar .navbar-nav .nav-link.active {
  color: #3f416581;
}

#summary.container p {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 2rem;
  letter-spacing: -0.09rem;
  word-spacing: 0.1rem;
}

/* Proejct */
#project.container {
  margin-bottom: 9.375rem;
}
